<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="all" type="text/css" href="static/styles.css"/>

    <title>CMUnity</title>
</head>

<div id="top-row">
    <header>
        <h1 class=".clickyo">CMUnity</h1>
        <h3>Bringing campus together, one high five at a time</h3>
    </header>
    <form method="POST" action="/cmuscores">
    <nav>
        {% csrf_token %}
        <a href="logout.html">{{user}}</a>
        <a href="/cmuscores">Score: {{score}}</a>
    </form>
    </nav>
</div>

<body>

<div id="container">
    <div id="meep">
    <h2>Score +1! Play again?</h2>
    <div id="map">
        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 40.44355, lng: -79.94454},
                    zoom: 18
                });
                
                // navigator.geolocation.watchPosition(showPosition)
                // var latitude = position.coords.latitude
                // var longitude = position.coords.longitude
                
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.DROP,
                    position: {lat: 40.44358, lng: -79.94445
                    },
                    map: map,
                    title: 'me'
                });
            }

            // function makeMarker() {
            //     navigator.geolocation.watchPosition(showPosition);
                
                
            // }
            
        </script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe9TQVwum4_DlMpH-llwoRUGHyut0rHdk&callback=initMap"
        >
        </script>
    </div>

    <div id="five">
        <form method="POST" action="/gpsstart">
        <a href="/gpsstart"><img src="static/images/high.gif"></a>
    </div>
</div>
</body>



<footer>
    <hr/>
    &copy; 2016 Hack 112
</footer>










</html>